body {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	font-family: "arial";
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

th {
	cursor: pointer;
}

.arrow {
    position: relative;
}
.arrow:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0; 
    height: 0; 
    display: block;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #000;
}

